.parallax-header {
	position: relative;
    width: 100%;
    height: 70vmin;
    background-image: url(../../assets/images/brooke-lark-158026-opt.jpg);
    background-size: 100% 70vmin;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    
    &__logo {
        width: 100%;
        height: 15rem;
        background-image: url(../../assets/images/icons/logo.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        position: absolute;
        top: 29vmin;
        margin-top: -7.5rem;
    }   
    
    &__choco {
        width: 16rem;
        height: 16rem;
        background-image: url(../../assets/images/chocolates.png);
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
        
        position: absolute;
        top: 25vmin;
        left: 10%;
    }   
    
    &__toppers {
        width: 19rem;
        height: 16rem;
        background-image: url(../../assets/images/toppers.png);
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
        
        position: absolute;
        top: 25vmin;
        right: 10%;
    }
}